

body 
{
	background-color: black;
	font-size: 25px;
	text-transform: uppercase;
	font-family: courier,Courier New,
	Lucida Sans Typewriter,
	Lucida Typewriter,monospace;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;        
    transform: translate(-50%, -50%);
    color: white;


